## Amy Uses R and learns how to use weights again!

In [1]:
library(survey)

Loading required package: grid

Loading required package: Matrix

Loading required package: survival


Attaching package: ‘survey’


The following object is masked from ‘package:graphics’:

    dotchart

In [2]:
dataloc <- "../data/processed/"

surveyloc <- paste(dataloc, "etl_5_yrbs.csv", sep="")

In [40]:
yrbs <- read.csv(surveyloc)

In [41]:
head(yrbs)

  X sitecode year survyear weight  stratum PSU age q19 q20 ⋯ qtaughtcondom
1 0 AL       1991 1        98.1638  8      2   .   NA  NA  ⋯ NA
2 1 AL       1991 1        69.1663 15      2   1   NA  NA  ⋯ NA
3 2 AL       1991 1        80.3232 15      1   2   NA  NA  ⋯ NA
4 3 AL       1991 1        66.5061 20      2   4   NA  NA  ⋯ NA
5 4 AL       1991 1        89.3992  5      1   5   NA  NA  ⋯ NA
6 5 AL       1991 1        59.2770  1      1   5   NA  NA  ⋯ NA
  qtaughtbc qn19 qn20 qn21 qn22 qntaughtsexed qntaughtstd qntaughtcondom
1 NA        .    .    .    .    .             .           .
2 NA        .    .    .    .    .             .           .
3 NA        .    .    .    .    .             .           .
4 NA        .    .    .    .    .             .           .
5 NA        .    .    .    .    .             .           .
6 NA        .    .    .    .    .             .           .
  qntaughtbc
1 .
2 .
3 .
4 .
5 .
6 .

In [42]:
yrbs[yrbs== "."] = NA

In [43]:
yrbs_tx <- yrbs[yrbs$sitecode == "TX",]
yrbs_tx_2019 = yrbs_tx[yrbs_tx$year == 2019,]

In [44]:
yrbs_tx_2019_design <- svydesign(id= ~PSU, weight= ~weight, strata= ~stratum, data=yrbs_tx_2019, nest=TRUE)

In [45]:
summary(yrbs_tx_2019_design)

Stratified 1 - level Cluster Sampling design (with replacement)
With (32) clusters.
svydesign(id = ~PSU, weight = ~weight, strata = ~stratum, data = yrbs_tx_2019,
    nest = TRUE)
Probabilities:
     Min.   1st Qu.    Median      Mean   3rd Qu.      Max.
0.0003453 0.0010450 0.0013450 0.0016222 0.0017690 0.0056526
Stratum Sizes:
             1   2   3   4   5   6   7   8   9  10  11 12 13  14  15 16
obs        128 119 135 100 156 105 135 106 277 115 154 97 78 128 122 77
design.PSU   2   2   2   2   2   2   2   2   2   2   2  2  2   2   2  2
actual.PSU   2   2   2   2   2   2   2   2   2   2   2  2  2   2   2  2
Data variables:
 [1] "X"              "sitecode"       "year"           "survyear"
 [5] "weight"         "stratum"        "PSU"            "age"
 [9] "q19"            "q20"            "q21"            "q22"
[13] "qtaughtsexed"   "qtaughtstd"     "qtaughtcondom"  "qtaughtbc"
[17] "qn19"           "qn20"           "qn21"           "qn22"
[21] "qntaughtsexed"  "qntaughtstd"    "qntaughtcondom" "qntaughtbc"

In [51]:
svymean(~qn20, yrbs_tx_2019_design, deff=TRUE, na.rm=TRUE)

           mean        SE   DEff
qn201 0.1004611 0.0060291 0.7971
qn202 0.8995389 0.0060291 0.7971